.footer-wrapper{
  width: 100%;
}

.footer-wrapper ul{
  display: flex;
  list-style-type: none;
  padding: 0;
}

.footer-wrapper ul li{
  min-width: 100px;
  margin-left: 25px;
}

.footer-wrapper ul li:first-child{
  margin-left: 0;
}
