@import "../../styles";

.accounts-card-wrapper {
    display: flex;
    text-align: center;
    min-height: 92.5px;
    border: 1px solid beige;
    background-color: #f8f9fa;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 1px 4px;
    padding: 5px;
    overflow-x: auto;
    .transparent {
      -webkit-filter: grayscale(
                      1
      ); /* Google Chrome, Safari 6+ & Opera 15+ */

      &:hover {
        -webkit-filter: grayscale(0);
        filter: none;
      }
    }

    .cursor {
        cursor: pointer;
    }

    .profile-img-wrapper{
        position: relative;
        top: 0;
        left: 0;
    }

    .personalize-img{
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .profil-type{
        position: absolute;
        top: 30px;
        left: 55px;
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }

    .profil-name{
        padding: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    span {
        &:hover {
            color: #4682b4;
        }
    }

    .bull-info {
        background-color: #f8f9fa;
        width: 100%;
        line-height: 42px;
        text-align: center;
        border-radius: 10px;
    }

    li {
        min-width: 100px;
        width: 100px;
        overflow-x: hidden;
        cursor: pointer;
        span{
            margin-left: 5px;
        }

        &:hover{
            img{
                border: 1px solid $blue-hover;
            }
            color:  $blue-hover;
        }
    }
}

.no-context-style{
    background-color: white;
    border: none;
    box-shadow: none;
    padding: 0;
    li{
        padding-top: 10px;
        list-style-type: none;
    }
}
