.text-area-widget {
    height: 40px;
    display: flex;
    justify-content: space-between;
    .emoji-mart{
        z-index: 1 !important;
    }
    .left-widget{
        display: flex;
    }
    .widget {
        width: 45px;
        height: 40px;
        cursor: pointer;
        position: relative;
        .widget-display {
            display: block;
        }

        .widget-hide {
            display: none;
        }
        text-align: center;

        span {
            margin-top: 7px;
            font-size: 25px;
        }

        img{
            margin-top: 7.5px;
        }

        &:last-child{
            float: right;
        }
    }
}

.disabled-button{
    cursor: not-allowed !important;
}
