html {
    min-height:100vh;
}
body {
    min-height:100vh;
    margin: 0;
    #root {
        font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto,
            Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
            'Helvetica Neue', Helvetica, Arial, sans-serif !important;
        font-weight: 400 !important;
        line-height: 1.5 !important;
        font-size: 1em !important;
    }

    .app {
        background-color: #f0f2f5;
        min-height:100vh;
    }
}

.wrapper {
    width: 80%;
    min-width: 800px;
    min-height:100vh;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

$background-grey: #f8f9fa;
$blue: rgba(29, 155, 240, 1);
$blue-hover: rgba(26, 140, 216, 255);
$writing-color: #8f8fa1;
